<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🍔 Smart Restaurant Dashboard</h1>

        <p>DevOps + Docker + Jenkins Demonstration Project</p>

        <div class="nav">
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/orders">Orders</a>
            <a href="/analytics">Analytics</a>
        </div>

        <div class="card">
            <h2>System Status</h2>

            <ul>
                <li>✅ Jenkins Pipeline Active</li>
                <li>✅ Docker Deployment Running</li>
                <li>✅ Security Scanning Enabled</li>
                <li>✅ Automated Testing Enabled</li>
            </ul>
        </div>

    </div>

</body>
</html>